# ── Server ─────────────────────────────────────────────────────
PORT=
# ── MongoDB ────────────────────────────────────────────────────
MONGO_URI=

# ── JWT ───────────────
JWT_SECRET=

# ── Nodemailer (Gmail) ─────────────────────────────────────────
EMAIL_USER=
EMAIL_PASS=


# ── Google OAuth ───────────────────────────────────────────────
GOOGLE_CLIENT_ID=

# CLOUDINARY 
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
